BCPmakefile
TO_DO_list.txt
cheby_tools/driver_check_matrix_building.f90
cheby_tools/driver_lapack2.f90
old_makefile
periodic_box/driver_p3_algebra.f90
salt_fingers/rubbish.f90
TFP_NL_solution/
build/
mod/
cheby_tools/driver_cheby_misc.f90
./*.sh
src/misc/include_git_version.f90

*.x
*.o
*.mod
*.lut
*.dat
*.fdat
*.pyc
*.tar
*driver.f90
